// 颜色定义规范
$color-theme = #31c27c
$color-background = #f1f1f1
$color-background-d = rgba(0, 0, 0, 0.3)
$color-white = #ffffff
$color-text = #333
$color-text-main = #000
$color-text-mid = #666
$color-text-deep = #999
$color-text-thin = #eee
$color-mask = rgb(0, 0, 0, .6)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
